.lotteryBall{
    text-align: center;
}

.lottery{
    display: inline-block;
    padding: 1.2rem;
    margin: 2rem;
    width:50rem;
    border-radius: 2rem;
    border: black 2px solid;
}

button{
    background-color: gray;
    color: white;
    width: 5rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
}